@font-face {
  font-family: "Neue Haas Grotesk Text Pro";
  src: url("../assets/Typo/Grotesk/31862445252.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
footer a {
  font-family: "Neue Haas Grotesk Text Pro";
  font-weight: bold;
  font-size: 2vw;
}
footer {
  z-index: 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  background-color: #977fce;
  height: 20vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
footer a:first-child {
  padding-left: 7vw;
}
footer a:last-child {
  padding-right: 7vw;
}
footer img {
  width: 4vw;
}
footer a:nth-child(2) {
  padding-left: 20vw;
}
footer a:nth-child(3) {
  padding-right: 20vw;
}

@media screen and (max-width: 650px) {
  footer img {
    width: 6vw;
  }
  footer a {
    font-size: 3vw;
  }
  footer a:nth-child(2) {
    padding-left: 10vw;
  }
  footer a:nth-child(3) {
    padding-right: 10vw;
  }
}
