@font-face {
  font-family: "Neue Haas Grotesk Text Pro";
  src: url("../assets/Typo/Neue_Haas_Grotesk_Text_Pro") format("truetype");
  font-weight: normal;
  font-style: normal;
}

header {
  margin-top: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
}
.nav-container {
  margin: auto 4vw;
  display: flex;
  align-items: center;
}

.logo {
  height: 67px;
  z-index: 100;
}

.cart {
  height: 67px;
  cursor: pointer;
  margin-right: 30px;
}

nav {
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 5em;
  display: flex;
  padding: 1em 0px 1em 1em;
}

.burger-menu {
  height: 80%;
  width: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  transform-origin: center;
  width: 77px;
  height: 4px;
  background-color: rgb(0, 0, 0);
  border-radius: 0.3em;
  transition: transform 0.5s ease;
}

.menu {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  transform: translateY(100%); /* начальное положение: скрыто */
  transition: transform 0.2s ease-in-out;
}

.menu.visible {
  transform: translateY(0); /* выезжает */
  z-index: -100;
}

.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(1em, 1em);
  height: 7px;
}

.burger-bar.clicked:nth-child(2) {
  opacity: 0;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(-45deg) translate(0.4em, -0.4em);
  height: 7px;
}

.burger-bar.unclicked {
  transform: rotate(0) translate(0);
}

.menu-open {
  justify-content: end;
  background-color: #d9d8d8;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100vh;
}

.menu-open li {
  font-family: "Neue Haas Grotesk Text Pro", normal;
  color: black;
  margin-bottom: 1rem;
}

@media screen and (max-width: 450px) {
  header {
    margin-top: 20px;
  }
  .nav-container {
    display: flex;
    align-items: center;
    width: 90vw;
  }

  .logo {
    height: 55px;
  }

  .cart {
    height: 55px;
    margin-right: 15px;
  }

  .burger-menu {
    height: 70%;
    width: 60px;
  }

  .burger-bar {
    width: 60px;
    height: 4px;
  }

  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.8em, 0.8em);
    height: 7px;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(-45deg) translate(0.4em, -0.4em);
    height: 7px;
  }
}
